/SpaceshipGame/.gradle/**
/SpaceshipGame/.idea/**
/SpaceshipGame/gradle/**
/SpaceshipGame/build.gradle
/SpaceshipGame/gradle.properties
/SpaceshipGame/gradlew.bat
/SpaceshipGame/gradlew
/SpaceshipGame/local.properties
/SpaceshipGame/settings.gradle
/SpaceshipGame/SpaceshipGame.iml

/SpaceshipGame/app/build/**
/SpaceshipGame/app/app.iml
/SpaceshipGame/app/build.gradle
/SpaceshipGame/app/proguard-rules.pro

/SpaceshipGame/app/src/androidTest/**
/SpaceshipGame/app/src/test/**



